@{
    ViewBag.Title = "員工新增";
}
<h2>員工新增</h2>
<form method="post" action="@Url.Action("Create")">
    <p>姓名<input type="text" name="Name" required class="form-control" /></p>
    <p>電話<input type="text" name="Phone" required class="form-control" /></p>
    <p>年齡<input type="number" name="Age" required class="form-control" max="80" min="20" /></p>
    <p><input type="submit" value="新增" class="btn btn-success" /></p>
</form>