
@{
    ViewBag.Title = "ShowMemberForViewBag";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Showmember</title>
</head>
<body>
    <div>
        @foreach (var item in ViewBag.MemberList)
        {
            <ul>
                <li>編號:@item.Id</li>
                <li>姓名:@item.Name</li>
                <li>長度:@item.Size</li>
            </ul>
        }
    </div>
</body>
</html>

